In [53]:
import pandas as pd
import numpy as np
from datetime import datetime
import itertools

In [129]:
purchase_data = pd.read_excel("./Analyst_dataset.xlsx", sheet_name='Purchase Exit Survey Data')
airings_data = pd.read_excel("./Analyst_dataset.xlsx", sheet_name='Airings')
lookup_data = pd.read_excel("./Analyst_dataset.xlsx", sheet_name='Lookup', skiprows=1)

In [5]:
purchase_data.head()

,Unnamed: 0,Unnamed: 1,Submitted Application Timestamp,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57
0,NaN,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,September,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Source Category,Source,2,3.0,4.0,5.0,6.0,7.0,8.0,10.0,...,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0,30.0
4,tv_commercial,(blank),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN

In [6]:
airings_data.head()

,Company,Date/Time ET,Rotation,Creative,Network,Spend,Lift,Program
0,Company XYZ,2017-10-30 22:50:00,MSNB Weekday Prime,ISCICODE0015H,MSNB,980.0,152,THE LAST WORD WITH LAWRENCE O'DONNEL
1,Company XYZ,2017-10-30 22:27:50,HIST Everyday Prime (mirrored),ISCICODE0015H,HIST,1500.0,77,PAWN STARS
2,Company XYZ,2017-10-30 21:42:20,TWC Everyday Prime,ISCICODE0015H,TWC,300.0,15,WEATHER HACKS
3,Company XYZ,2017-10-30 21:17:22,MSNB Weekday Prime,ISCICODE0015H,MSNB,1020.0,123,THE RACHEL MADDOW SHOW
4,Company XYZ,2017-10-30 20:28:46,MSNB Weekday Prime,ISCICODE0015H,MSNB,1020.0,121,ALL IN WITH CHRIS HAYES

In [7]:
lookup_data.head()

    Exit Survey Airings Exit Survey.1
0       (blank)     NaN       (blank)
1  aapka_colors     NaN  aapka_colors
2    baby_first    BABY    baby_first
3     bloomberg    BLOM     bloomberg
4    cbs_sports    CBSS    cbs_sports

In [8]:
current_year = purchase_data.iloc[0,:].dropna()
current_year = int(current_year)
current_year

2017

In [9]:
months = []
for month in purchase_data.iloc[2,2:].dropna():
    months.append(month)
months

['September', 'October']

In [10]:
# current_month = months[0]
# i = 0
# for count, day in enumerate(day_nums, start=1):
#     if str(day) > str(purchase_data.iloc[3, 2+count]):
#         i += 1
#         current_month = month[i]
#         current_date = str(current_year) + '-' + current_month + '-' + str(day)
#         print(current_date)
#         #print(count)
#     else:
#         current_date = str(current_year) + '-' + current_month + '-' + str(day)
#         print(current_date)
#         #print(count)

day_nums = np.array(purchase_data.iloc[3,2:], dtype=int)

parsed_dates = []
current_month = months[0]
i = 0
for count, today in enumerate(day_nums, start=1):
    try:
        tomorrow = day_nums[count]
    except:
        pass
        # current_date = str(current_year) + '-' + current_month + '-' + str(today)
        # current_date = datetime.strptime(current_date, '%Y-%B-%d').date()
        # parsed_dates.append(current_date)
        #print(type(current_date))
    if today > tomorrow:
        current_date = str(current_year) + '-' + current_month + '-' + str(today)
        current_date = datetime.strptime(current_date, '%Y-%B-%d').date()
        i += 1
        current_month = months[i]
        parsed_dates.append(current_date)
        #print(current_date)
        #print(count)
    else:
        current_date = str(current_year) + '-' + current_month + '-' + str(today)
        current_date = datetime.strptime(current_date, '%Y-%B-%d').date()
        #print(current_date)
        parsed_dates.append(current_date)
        #print(count)

In [11]:
purchase_data.iloc[3,2:] = parsed_dates

In [12]:
new_df = purchase_data.iloc[3:,:].transpose()
new_df.head()

,3,4,5,6,7,8,9,10,11,12,...,24,25,26,27,28,29,30,31,32,33
Unnamed: 0,Source Category,tv_commercial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 1,Source,(blank),aapka_colors,baby_first,bloomberg,cbs_sports,cnbc,cnn,comedy_central,dateline,...,other,science,sony_entertainment_tv,spectrum_sports,star_plus,television_food_network,the_history_channel,turner_network_tv,willow_tv,zeetv
Submitted Application Timestamp,2017-09-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
Unnamed: 3,2017-09-03,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
Unnamed: 4,2017-09-04,NaN,NaN,NaN,NaN,NaN,1.0,3.0,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN

In [13]:
new_df.index = new_df.iloc[:, 0]

In [14]:
new_df = new_df.iloc[1:]

In [15]:
new_df = new_df.drop(labels=3, axis=1)

In [16]:
new_df.columns = new_df.iloc[0]

In [17]:
new_df = new_df.drop(labels='Source')

In [18]:
new_df.index = pd.to_datetime(new_df.index)

In [19]:
new_df.rename_axis('date', inplace=True)

In [20]:
new_df_groupby_date = new_df.groupby(pd.Grouper(freq='M')).agg('sum')
new_df_groupby_date

Source,(blank),aapka_colors,baby_first,bloomberg,cbs_sports,cnbc,cnn,comedy_central,dateline,dish_network,...,other,science,sony_entertainment_tv,spectrum_sports,star_plus,television_food_network,the_history_channel,turner_network_tv,willow_tv,zeetv
date,,,,,,,,,,,,,,,,,,,,,
2017-09-30,0.0,1.0,1.0,1.0,1.0,5.0,13.0,0.0,0.0,4.0,...,5.0,1.0,2.0,2.0,2.0,4.0,4.0,2.0,27.0,2.0
2017-10-31,3.0,5.0,0.0,1.0,0.0,10.0,10.0,2.0,10.0,1.0,...,8.0,3.0,2.0,1.0,2.0,0.0,1.0,2.0,29.0,3.0

In [90]:
new_df_grouped_transpose = new_df_groupby_date.transpose()
new_df_grouped_transpose = new_df_grouped_transpose.stack().to_frame()
new_df_grouped_transpose.rename(columns={0:'Purchases'}, inplace=True)
new_df_grouped_transpose

                                     Purchases
Source                   date
(blank)                  2017-09-30        0.0
                         2017-10-31        3.0
aapka_colors             2017-09-30        1.0
                         2017-10-31        5.0
baby_first               2017-09-30        1.0
                         2017-10-31        0.0
bloomberg                2017-09-30        1.0
                         2017-10-31        1.0
cbs_sports               2017-09-30        1.0
                         2017-10-31        0.0
cnbc                     2017-09-30        5.0
                         2017-10-31       10.0
cnn                      2017-09-30       13.0
                         2017-10-31       10.0
comedy_central           2017-09-30        0.0
                         2017-10-31        2.0
dateline                 2017-09-30        0.0
                         2017-10-31       10.0
dish_network             2017-09-30        4.0
                         2017-10-31        1.0
diy                      2017-09-30        2.0
                         2017-10-31        0.0
espn                     2017-09-30        0.0
                         2017-10-31        4.0
fox_news                 2017-09-30        5.0
                         2017-10-31        9.0
fox_sports               2017-09-30        1.0
                         2017-10-31        1.0
fyi                      2017-09-30        0.0
                         2017-10-31        2.0
hgtv                     2017-09-30        6.0
                         2017-10-31        0.0
msnbc                    2017-09-30       10.0
                         2017-10-31        6.0
nfl_network              2017-09-30        2.0
                         2017-10-31        1.0
one_america_news_network 2017-09-30        2.0
                         2017-10-31       14.0
oprah_winfrey_network    2017-09-30        0.0
                         2017-10-31        1.0
other                    2017-09-30        5.0
                         2017-10-31        8.0
science                  2017-09-30        1.0
                         2017-10-31        3.0
sony_entertainment_tv    2017-09-30        2.0
                         2017-10-31        2.0
spectrum_sports          2017-09-30        2.0
                         2017-10-31        1.0
star_plus                2017-09-30        2.0
                         2017-10-31        2.0
television_food_network  2017-09-30        4.0
                         2017-10-31        0.0
the_history_channel      2017-09-30        4.0
                         2017-10-31        1.0
turner_network_tv        2017-09-30        2.0
                         2017-10-31        2.0
willow_tv                2017-09-30       27.0
                         2017-10-31       29.0
zeetv                    2017-09-30        2.0
                         2017-10-31        3.0

# Airings Sheet

In [91]:
airings_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6443 entries, 0 to 6442
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company       6443 non-null   object
 1   Date/Time ET  6443 non-null   datetime64[ns]
 2   Rotation      6443 non-null   object
 3   Creative      6443 non-null   object
 4   Network       6443 non-null   object
 5   Spend         6443 non-null   float64
 6   Lift          6443 non-null   int64
 7   Program       5729 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 402.8+ KB

In [92]:
airings_data.groupby([pd.Grouper(key='Date/Time ET', freq='M'), 'Network'])[['Spend', 'Lift']].agg('sum')

                           Spend  Lift
Date/Time ET Network
2017-09-30   BLOM        4966.72   199
             CNBC        6481.42   406
             CNN         9159.60   507
             DATELINE    4211.62   252
             DISH        2513.09   976
             FS1         4258.50   183
             HIST        5778.30   253
             MSNB        8091.15   701
             NFLN        5412.80   200
             OANN        4966.80   648
             SCI         7993.18   132
             SPECSPTS    5580.26   220
             STARPLUS    3441.58   562
             TNT         5125.50   179
             WILO       19773.49  3138
             ZEETV      10175.13   922
2017-10-31   CNBCWORLD   1299.99    51
             CNN         8954.75   574
             COM         7501.25   108
             DATELINE   11076.49   610
             DISH         520.24   116
             HIST        1500.00    77
             MSNB        3238.89   422
             OANN       19968.20  1724
             STARPLUS    8338.98  1221
             TWC         7718.71   211
             WILO       27961.08  5076
             ZEETV      15429.12   819

In [93]:
airings_spend_lift_grouped = airings_data.groupby(['Network', pd.Grouper(key='Date/Time ET', freq='M')])[['Spend', 'Lift']].agg('sum')
airings_spend_lift_grouped

                           Spend  Lift
Network   Date/Time ET
BLOM      2017-09-30     4966.72   199
CNBC      2017-09-30     6481.42   406
CNBCWORLD 2017-10-31     1299.99    51
CNN       2017-09-30     9159.60   507
          2017-10-31     8954.75   574
COM       2017-10-31     7501.25   108
DATELINE  2017-09-30     4211.62   252
          2017-10-31    11076.49   610
DISH      2017-09-30     2513.09   976
          2017-10-31      520.24   116
FS1       2017-09-30     4258.50   183
HIST      2017-09-30     5778.30   253
          2017-10-31     1500.00    77
MSNB      2017-09-30     8091.15   701
          2017-10-31     3238.89   422
NFLN      2017-09-30     5412.80   200
OANN      2017-09-30     4966.80   648
          2017-10-31    19968.20  1724
SCI       2017-09-30     7993.18   132
SPECSPTS  2017-09-30     5580.26   220
STARPLUS  2017-09-30     3441.58   562
          2017-10-31     8338.98  1221
TNT       2017-09-30     5125.50   179
TWC       2017-10-31     7718.71   211
WILO      2017-09-30    19773.49  3138
          2017-10-31    27961.08  5076
ZEETV     2017-09-30    10175.13   922
          2017-10-31    15429.12   819

In [130]:
lookup_data = lookup_data.drop('Exit Survey.1', axis=1)
lookup_data = lookup_data.set_index('Exit Survey')
lookup_data = lookup_data.rename_axis('Source')
lookup_data

                            Airings
Source
(blank)                         NaN
aapka_colors                    NaN
baby_first                     BABY
bloomberg                      BLOM
cbs_sports                     CBSS
cnbc                           CNBC
cnn                             CNN
comedy_central                  COM
cozi                           COZI
Dateline                   DATELINE
dish_network                   DISH
diy                             NaN
espn                            ENN
fox_news                       FNEW
fox_sports                      FS1
fyi                             FYI
hgtv                           HGTV
lifetime_movie_network          LMN
msnbc                          MSNB
nfl_network                    NFLN
NaN                             NaN
one_america_news_network       OANN
oprah_winfrey_network           OWN
other                           NaN
science                         SCI
sony_entertainment_tv           NaN
spectrum_sports            SPECSPTS
spike                           SPK
star_plus                  STARPLUS
sundance_channel               SUND
television_food_network        FOOD
the_cooking_channel            COOK
the_history_channel            HIST
the_weather_channel             TWC
turner_network_tv               TNT
willow_tv                      WILO
zeetv                         ZEETV
Velocity                        VEL
Investigation Discovery          ID
Viceland                       VICE
Destination America            DEST
Golf                           GOLF
Tennis                         TENN
CNBC World                CNBCWORLD

# Joining Purchases Exit Survey Data and Airings

In [135]:
# joined_tbl = lookup_data[['Exit Survey', 'Airings']].merge(right=new_df_grouped_transpose, left_on='Exit Survey', right_on='Source', how='left')
# #joined_tbl.drop(labels='Exit Survey', axis=1, inplace=True)
# joined_tbl

In [138]:
purchase_grouped = lookup_data.join(new_df_grouped_transpose)
purchase_grouped

                                      Airings  Purchases
Source                   date
(blank)                  2017-09-30       NaN        0.0
                         2017-10-31       NaN        3.0
aapka_colors             2017-09-30       NaN        1.0
                         2017-10-31       NaN        5.0
baby_first               2017-09-30      BABY        1.0
                         2017-10-31      BABY        0.0
bloomberg                2017-09-30      BLOM        1.0
                         2017-10-31      BLOM        1.0
cbs_sports               2017-09-30      CBSS        1.0
                         2017-10-31      CBSS        0.0
cnbc                     2017-09-30      CNBC        5.0
                         2017-10-31      CNBC       10.0
cnn                      2017-09-30       CNN       13.0
                         2017-10-31       CNN       10.0
comedy_central           2017-09-30       COM        0.0
                         2017-10-31       COM        2.0
dish_network             2017-09-30      DISH        4.0
                         2017-10-31      DISH        1.0
diy                      2017-09-30       NaN        2.0
                         2017-10-31       NaN        0.0
espn                     2017-09-30       ENN        0.0
                         2017-10-31       ENN        4.0
fox_news                 2017-09-30      FNEW        5.0
                         2017-10-31      FNEW        9.0
fox_sports               2017-09-30       FS1        1.0
                         2017-10-31       FS1        1.0
fyi                      2017-09-30       FYI        0.0
                         2017-10-31       FYI        2.0
hgtv                     2017-09-30      HGTV        6.0
                         2017-10-31      HGTV        0.0
msnbc                    2017-09-30      MSNB       10.0
                         2017-10-31      MSNB        6.0
nfl_network              2017-09-30      NFLN        2.0
                         2017-10-31      NFLN        1.0
one_america_news_network 2017-09-30      OANN        2.0
                         2017-10-31      OANN       14.0
oprah_winfrey_network    2017-09-30       OWN        0.0
                         2017-10-31       OWN        1.0
other                    2017-09-30       NaN        5.0
                         2017-10-31       NaN        8.0
science                  2017-09-30       SCI        1.0
                         2017-10-31       SCI        3.0
sony_entertainment_tv    2017-09-30       NaN        2.0
                         2017-10-31       NaN        2.0
spectrum_sports          2017-09-30  SPECSPTS        2.0
                         2017-10-31  SPECSPTS        1.0
star_plus                2017-09-30  STARPLUS        2.0
                         2017-10-31  STARPLUS        2.0
television_food_network  2017-09-30      FOOD        4.0
                         2017-10-31      FOOD        0.0
the_history_channel      2017-09-30      HIST        4.0
                         2017-10-31      HIST        1.0
turner_network_tv        2017-09-30       TNT        2.0
                         2017-10-31       TNT        2.0
willow_tv                2017-09-30      WILO       27.0
                         2017-10-31      WILO       29.0
zeetv                    2017-09-30     ZEETV        2.0
                         2017-10-31     ZEETV        3.0

In [137]:
# NEED TO drop Network as an index and make a column, join with purchase_grouped and keep the 
airings_spend_lift_grouped

                           Spend  Lift
Network   Date/Time ET
BLOM      2017-09-30     4966.72   199
CNBC      2017-09-30     6481.42   406
CNBCWORLD 2017-10-31     1299.99    51
CNN       2017-09-30     9159.60   507
          2017-10-31     8954.75   574
COM       2017-10-31     7501.25   108
DATELINE  2017-09-30     4211.62   252
          2017-10-31    11076.49   610
DISH      2017-09-30     2513.09   976
          2017-10-31      520.24   116
FS1       2017-09-30     4258.50   183
HIST      2017-09-30     5778.30   253
          2017-10-31     1500.00    77
MSNB      2017-09-30     8091.15   701
          2017-10-31     3238.89   422
NFLN      2017-09-30     5412.80   200
OANN      2017-09-30     4966.80   648
          2017-10-31    19968.20  1724
SCI       2017-09-30     7993.18   132
SPECSPTS  2017-09-30     5580.26   220
STARPLUS  2017-09-30     3441.58   562
          2017-10-31     8338.98  1221
TNT       2017-09-30     5125.50   179
TWC       2017-10-31     7718.71   211
WILO      2017-09-30    19773.49  3138
          2017-10-31    27961.08  5076
ZEETV     2017-09-30    10175.13   922
          2017-10-31    15429.12   819

In [ ]:
purchase_grouped.merge(right=airings_spend_lift_grouped, left_on=)

In [96]:
# joined_tbl.merge(right=airings_spend_and_lift, left_on='Airings', right_on='Network', how='left')

      Airings  Purchases    Spend  Lift
0         NaN        0.0      NaN   NaN
1         NaN        3.0      NaN   NaN
2         NaN        1.0      NaN   NaN
3         NaN        5.0      NaN   NaN
4        BABY        1.0      NaN   NaN
..        ...        ...      ...   ...
68       VICE        NaN      NaN   NaN
69       DEST        NaN      NaN   NaN
70       GOLF        NaN      NaN   NaN
71       TENN        NaN      NaN   NaN
72  CNBCWORLD        NaN  1299.99  51.0

[73 rows x 4 columns]

# Overall metrics

In [29]:
new_df.head()

Source,(blank),aapka_colors,baby_first,bloomberg,cbs_sports,cnbc,cnn,comedy_central,dateline,dish_network,...,other,science,sony_entertainment_tv,spectrum_sports,star_plus,television_food_network,the_history_channel,turner_network_tv,willow_tv,zeetv
date,,,,,,,,,,,,,,,,,,,,,
2017-09-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
2017-09-03,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2017-09-04,NaN,NaN,NaN,NaN,NaN,1.0,3.0,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
2017-09-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2017-09-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,2.0,1.0,NaN,NaN,NaN,1.0,NaN

In [30]:
sum_of_purchases = new_df.sum(axis=0)
sum_of_purchases

Source
(blank)                      3.0
aapka_colors                 6.0
baby_first                   1.0
bloomberg                    2.0
cbs_sports                   1.0
cnbc                        15.0
cnn                         23.0
comedy_central               2.0
dateline                    10.0
dish_network                 5.0
diy                          2.0
espn                         4.0
fox_news                    14.0
fox_sports                   2.0
fyi                          2.0
hgtv                         6.0
msnbc                       16.0
nfl_network                  3.0
one_america_news_network    16.0
oprah_winfrey_network        1.0
other                       13.0
science                      4.0
sony_entertainment_tv        4.0
spectrum_sports              3.0
star_plus                    4.0
television_food_network      4.0
the_history_channel          5.0
turner_network_tv            4.0
willow_tv                   56.0
zeetv                        5.0
dtype: object

In [31]:
overall_tbl = lookup_data.merge(right=sum_of_purchases.to_frame(), left_on='Exit Survey', right_on='Source', how='left')
overall_tbl.drop(labels='Exit Survey.1', axis=1, inplace=True)
overall_tbl.rename(columns={0:'Purchases'}, inplace=True)
overall_tbl.set_index('Exit Survey', inplace=True)
overall_tbl

                            Airings Purchases
Exit Survey
(blank)                         NaN       3.0
aapka_colors                    NaN       6.0
baby_first                     BABY       1.0
bloomberg                      BLOM       2.0
cbs_sports                     CBSS       1.0
cnbc                           CNBC      15.0
cnn                             CNN      23.0
comedy_central                  COM       2.0
cozi                           COZI       NaN
Dateline                   DATELINE       NaN
dish_network                   DISH       5.0
diy                             NaN       2.0
espn                            ENN       4.0
fox_news                       FNEW      14.0
fox_sports                      FS1       2.0
fyi                             FYI       2.0
hgtv                           HGTV       6.0
lifetime_movie_network          LMN       NaN
msnbc                          MSNB      16.0
nfl_network                    NFLN       3.0
NaN                             NaN       NaN
one_america_news_network       OANN      16.0
oprah_winfrey_network           OWN       1.0
other                           NaN      13.0
science                         SCI       4.0
sony_entertainment_tv           NaN       4.0
spectrum_sports            SPECSPTS       3.0
spike                           SPK       NaN
star_plus                  STARPLUS       4.0
sundance_channel               SUND       NaN
television_food_network        FOOD       4.0
the_cooking_channel            COOK       NaN
the_history_channel            HIST       5.0
the_weather_channel             TWC       NaN
turner_network_tv               TNT       4.0
willow_tv                      WILO      56.0
zeetv                         ZEETV       5.0
Velocity                        VEL       NaN
Investigation Discovery          ID       NaN
Viceland                       VICE       NaN
Destination America            DEST       NaN
Golf                           GOLF       NaN
Tennis                         TENN       NaN
CNBC World                CNBCWORLD       NaN

In [80]:
airings_spend_and_lift = airings_data.groupby('Network')[['Spend', 'Lift']].agg('sum')
airings_spend_and_lift

              Spend  Lift
Network
BLOM        4966.72   199
CNBC        6481.42   406
CNBCWORLD   1299.99    51
CNN        18114.35  1081
COM         7501.25   108
DATELINE   15288.11   862
DISH        3033.33  1092
FS1         4258.50   183
HIST        7278.30   330
MSNB       11330.04  1123
NFLN        5412.80   200
OANN       24935.00  2372
SCI         7993.18   132
SPECSPTS    5580.26   220
STARPLUS   11780.56  1783
TNT         5125.50   179
TWC         7718.71   211
WILO       47734.57  8214
ZEETV      25604.25  1741

In [32]:
overall_tbl = overall_tbl.merge(right=airings_spend_and_lift,left_on='Airings', right_index=True, how='left')
overall_tbl

                            Airings Purchases     Spend    Lift
Exit Survey
(blank)                         NaN       3.0       NaN     NaN
aapka_colors                    NaN       6.0       NaN     NaN
baby_first                     BABY       1.0       NaN     NaN
bloomberg                      BLOM       2.0   4966.72   199.0
cbs_sports                     CBSS       1.0       NaN     NaN
cnbc                           CNBC      15.0   6481.42   406.0
cnn                             CNN      23.0  18114.35  1081.0
comedy_central                  COM       2.0   7501.25   108.0
cozi                           COZI       NaN       NaN     NaN
Dateline                   DATELINE       NaN  15288.11   862.0
dish_network                   DISH       5.0   3033.33  1092.0
diy                             NaN       2.0       NaN     NaN
espn                            ENN       4.0       NaN     NaN
fox_news                       FNEW      14.0       NaN     NaN
fox_sports                      FS1       2.0   4258.50   183.0
fyi                             FYI       2.0       NaN     NaN
hgtv                           HGTV       6.0       NaN     NaN
lifetime_movie_network          LMN       NaN       NaN     NaN
msnbc                          MSNB      16.0  11330.04  1123.0
nfl_network                    NFLN       3.0   5412.80   200.0
NaN                             NaN       NaN       NaN     NaN
one_america_news_network       OANN      16.0  24935.00  2372.0
oprah_winfrey_network           OWN       1.0       NaN     NaN
other                           NaN      13.0       NaN     NaN
science                         SCI       4.0   7993.18   132.0
sony_entertainment_tv           NaN       4.0       NaN     NaN
spectrum_sports            SPECSPTS       3.0   5580.26   220.0
spike                           SPK       NaN       NaN     NaN
star_plus                  STARPLUS       4.0  11780.56  1783.0
sundance_channel               SUND       NaN       NaN     NaN
television_food_network        FOOD       4.0       NaN     NaN
the_cooking_channel            COOK       NaN       NaN     NaN
the_history_channel            HIST       5.0   7278.30   330.0
the_weather_channel             TWC       NaN   7718.71   211.0
turner_network_tv               TNT       4.0   5125.50   179.0
willow_tv                      WILO      56.0  47734.57  8214.0
zeetv                         ZEETV       5.0  25604.25  1741.0
Velocity                        VEL       NaN       NaN     NaN
Investigation Discovery          ID       NaN       NaN     NaN
Viceland                       VICE       NaN       NaN     NaN
Destination America            DEST       NaN       NaN     NaN
Golf                           GOLF       NaN       NaN     NaN
Tennis                         TENN       NaN       NaN     NaN
CNBC World                CNBCWORLD       NaN   1299.99    51.0

In [52]:
overall_tbl['Conversion Rate'] = overall_tbl['Purchases'] / overall_tbl['Lift'] * 100
overall_tbl['Cost Per Acquisition'] = overall_tbl['Spend'] / overall_tbl['Purchases']
overall_tbl['Cost Per Visitor'] = overall_tbl['Spend'] / overall_tbl['Lift']
overall_tbl['Percent of Purchases'] = overall_tbl['Purchases'] / sum(overall_tbl['Purchases'].fillna(0)) * 100
overall_tbl['Percent of Spend'] = overall_tbl['Spend'] / sum(overall_tbl['Spend'].fillna(0)) * 100
overall_tbl['Percent Pur > Percent Spend'] = overall_tbl['Percent of Purchases'] > overall_tbl['Percent of Spend']
overall_tbl

,Airings,Purchases,Spend,Lift,Conversion Rate,Cost Per Acquisition,Cost Per Visitor,Percent of Purchases,Percent of Spend,Percent Pur > Percent Spend
Exit Survey,,,,,,,,,,
(blank),NaN,3.0,NaN,NaN,NaN,NaN,NaN,1.327434,NaN,False
aapka_colors,NaN,6.0,NaN,NaN,NaN,NaN,NaN,2.654867,NaN,False
baby_first,BABY,1.0,NaN,NaN,NaN,NaN,NaN,0.442478,NaN,False
bloomberg,BLOM,2.0,4966.72,199.0,1.005025,2483.36,24.958392,0.884956,2.242951,False
cbs_sports,CBSS,1.0,NaN,NaN,NaN,NaN,NaN,0.442478,NaN,False
cnbc,CNBC,15.0,6481.42,406.0,3.694581,432.094667,15.964089,6.637168,2.926984,True
cnn,CNN,23.0,18114.35,1081.0,2.12766,787.580435,16.757031,10.176991,8.180369,True
comedy_central,COM,2.0,7501.25,108.0,1.851852,3750.625,69.456019,0.884956,3.387535,False
cozi,COZI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
Dateline,DATELINE,NaN,15288.11,862.0,NaN,NaN,17.735626,NaN,6.904050,False
dish_network,DISH,5.0,3033.33,1092.0,0.457875,606.666,2.777775,2.212389,1.369840,True
diy,NaN,2.0,NaN,NaN,NaN,NaN,NaN,0.884956,NaN,False
espn,ENN,4.0,NaN,NaN,NaN,NaN,NaN,1.769912,NaN,False
fox_news,FNEW,14.0,NaN,NaN,NaN,NaN,NaN,6.19469,NaN,False
fox_sports,FS1,2.0,4258.50,183.0,1.092896,2129.25,23.270492,0.884956,1.923122,False
fyi,FYI,2.0,NaN,NaN,NaN,NaN,NaN,0.884956,NaN,False
hgtv,HGTV,6.0,NaN,NaN,NaN,NaN,NaN,2.654867,NaN,False
lifetime_movie_network,LMN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
msnbc,MSNB,16.0,11330.04,1123.0,1.424755,708.1275,10.089083,7.079646,5.116601,True
nfl_network,NFLN,3.0,5412.80,200.0,1.5,1804.266667,27.064000,1.327434,2.444399,False
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
one_america_news_network,OANN,16.0,24935.00,2372.0,0.674536,1558.4375,10.512226,7.079646,11.260547,False
oprah_winfrey_network,OWN,1.0,NaN,NaN,NaN,NaN,NaN,0.442478,NaN,False
other,NaN,13.0,NaN,NaN,NaN,NaN,NaN,5.752212,NaN,False
science,SCI,4.0,7993.18,132.0,3.030303,1998.295,60.554394,1.769912,3.609688,False
sony_entertainment_tv,NaN,4.0,NaN,NaN,NaN,NaN,NaN,1.769912,NaN,False
spectrum_sports,SPECSPTS,3.0,5580.26,220.0,1.363636,1860.086667,25.364818,1.327434,2.520023,False
spike,SPK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
star_plus,STARPLUS,4.0,11780.56,1783.0,0.224341,2945.14,6.607156,1.769912,5.320054,False
sundance_channel,SUND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
television_food_network,FOOD,4.0,NaN,NaN,NaN,NaN,NaN,1.769912,NaN,False
the_cooking_channel,COOK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
the_history_channel,HIST,5.0,7278.30,330.0,1.515152,1455.66,22.055455,2.212389,3.286851,False
the_weather_channel,TWC,NaN,7718.71,211.0,NaN,NaN,36.581564,NaN,3.485739,False
turner_network_tv,TNT,4.0,5125.50,179.0,2.234637,1281.375,28.634078,1.769912,2.314656,False
willow_tv,WILO,56.0,47734.57,8214.0,0.681763,852.403036,5.811367,24.778761,21.556743,True
zeetv,ZEETV,5.0,25604.25,1741.0,0.287191,5120.85,14.706634,2.212389,11.562778,False
Velocity,VEL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
Investigation Discovery,ID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
Viceland,VICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
Destination America,DEST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
Golf,GOLF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
Tennis,TENN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
CNBC World,CNBCWORLD,NaN,1299.99,51.0,NaN,NaN,25.490000,NaN,0.587070,False

In [34]:
airings_data.query('Network == "FOOD"')

Empty DataFrame
Columns: [Company, Date/Time ET, Rotation, Creative, Network, Spend, Lift, Program]
Index: []

# What networks have purchases but no spend?

In [35]:
airings_data.query('Spend == 0')['Network'].value_counts()

WILO        20
OANN        14
SPECSPTS    10
MSNB         3
HIST         2
Name: Network, dtype: int64

In [36]:
airings_data.groupby('Network')[['Spend', 'Lift']].agg('sum')

              Spend  Lift
Network
BLOM        4966.72   199
CNBC        6481.42   406
CNBCWORLD   1299.99    51
CNN        18114.35  1081
COM         7501.25   108
DATELINE   15288.11   862
DISH        3033.33  1092
FS1         4258.50   183
HIST        7278.30   330
MSNB       11330.04  1123
NFLN        5412.80   200
OANN       24935.00  2372
SCI         7993.18   132
SPECSPTS    5580.26   220
STARPLUS   11780.56  1783
TNT         5125.50   179
TWC         7718.71   211
WILO       47734.57  8214
ZEETV      25604.25  1741